body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #fcfcfc;
    color: #32323d;
}

.container{
    width: 1026px;
    margin: auto;
}

input{
    padding: 0;
}

ul{ 
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 100px;
    height: 32px;
    margin-top: 19px;
}

.search{
    background-color: #fff;
    width: 540px;
    height: 42px;
    margin: 15px 0 15px 7px;
    border: 1px solid #ededed;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search .btn-search{
    font-size: 20px;
    color: #495057;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0px 8px 0px 10px;
}

.search .input-search{
    width: 490px;
    height: 34px;
    border: none;
    outline: none;
}

.account{
    display: flex;
    flex-basis: 250px;
    align-items: center;
    justify-content: space-between;
}

.account .upload,
.account .notification,
.account .login-account .logo-account
{
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f1f1;
    color: #949494;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account .upload:hover,
.account .notification:hover{
    color: #6e55b4;
    background-color: #DDD;
}

.login-account{
    display: flex;
    flex-basis: 145px;
    justify-content: space-between;
}

.account .login-account .logo-account{
    background-color: #ced5e3;
    color: #edf0f8;
}

.login-account .login{
    display: flex;
    align-self: center;
}

.login-account .login i{
    padding-left: 8px;
}

.login-account .login a{
    font-weight: 600;
    color: #32323d;
    text-transform: capitalize;
    margin-left: 10px;
}

.login-account .login a:hover{
    color: #6e55b4;
}

/* NAV */
.nav {
    display: flex;
}

.list-nav .item-nav .drop-nav{
    padding: 15px 25px 15px 0px;
    font-weight: 500;
    line-height: 1.6;
    color: #4b4b54;
    position: relative;
    text-transform: uppercase;
    z-index: 999;
}

.list-nav:first-child .item-nav .drop-nav{
    color: #6e55b4;
}

.list-nav .item-nav .drop-nav:hover{
    color: #6e55b4;
}

.drop-nav .drop-table{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
    padding: 10px 0px;
    border-radius: 10px;
    width: 600px;
    background-color: #FFF;
    display: none;
}

.drop-nav .drop-table tr th{
    padding-left: 15px;
    color: #4b4b54;
}

.drop-nav .drop-table tr td{
    padding: 8px 0px 8px 15px;
    font-weight: 400;
    width: 140px;
    text-transform: capitalize;
    cursor: pointer;
    color: #4b4b54;
}

.drop-nav:hover .drop-table{
    display: block;
}

.drop-nav .drop-table tr td:hover{
    background-color: #DDD;
}

.drop-nav .drop-table tr td.is-disabled:hover{
    cursor: default;
    background-color: #FFF;  
}

.drop-nav .column-1{
    width: 150px;
    border-radius: 10px;
}


/* BANNER-BG */
.banner{
    background-image: url(../images/banner-bg.svg);
    background-size: cover;
    height: 70px;
    margin:10px 10px 0px 10px;
    font-size: 17px;
    color: #FFF;
    font-weight: 700;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-banner{
    display: flex;
    align-items: center;
}

.content-banner .logo-banner{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.wrap-btn-login .btn-login{
    background-color: #fdd100;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px 12px;
    border-radius: 4px;
}

.wrap-btn-login .btn-login:hover{
    background-color: #FFF;
    color: #6e55b4;
}


/* LIST ALBUM */
.wrap-list-album{
    margin: 10px 0px;
}

.title-list{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #32323d;
    text-transform: capitalize;
}

.album{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.item-album{
    width: 190px;
    cursor: pointer;
}
.item-album .img-song{
    height: 190px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.item-album .img-song img{
    width: 100%;
    height: 190px;
    transition: all 0.7s;
}

.item-album:hover .img-song .overlay{
    opacity: 1;
    cursor: pointer;
} 

.item-album:hover .img-song img{
    transform: scale(1.05);
}

.overlay{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.fs-50{
    font-size: 50px;
}

.overlay i{
    color: #FFF;
}

.title-song{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;    
    line-height: 1.45;
    margin: 8px 0 3px;
    text-transform: capitalize;
    color: #32323d;
}

.title-song:hover {
    color: #6e55b4;
}
/* ZINGCHART */
.zingchart{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.img-chart,
.img-chart img{
    width: 242px;
    height: 60px;
}

.img-chart {
    overflow: hidden;
    border-radius: 5px;
}

.img-chart img{     
    transition: all 0.7s;
}

.img-chart:hover img{
    transform: scale(1.05);
}


/* ALBUM ARTIST */
.wrap-album-artist{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.wrap-album-artist .album-artist .img-song,
.wrap-album-artist .album-artist .img-song img,
.wrap-album-artist .album-artist .img-song .overlay{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.wrap-album-artist .album-artist .img-song .overlay{
    background-color: rgba(0, 0, 0, 0.1);
}

.album-artist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/spotlight-bg.jpg);
    background-size: cover;
    width: 330px;
    height: 152px;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
}

.title-artist{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.zing-choice {
    background: linear-gradient(to right,#f508b7,#9102ff);
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 4px;
}

.info-artist{
    font-size: 20px;
    font-weight: 700;
    color: #32323d;
}

.info-artist:hover {
    color: #6e55b4;
}

/* NEW RELEASE */
.wrap-new-release{
    text-transform: capitalize;
    margin-top: 20px;
}

.title-release{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
}

.list-release{
    display: flex;
    justify-content: space-between;
}

.new-release{
    display: block;
    background-color: #FFF;
    width: 330px;
    height: 150px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0 rgba(190,190,206,.15);
    cursor: pointer;
    border-radius: 4px;
    padding: 15px;
    color: #32323d;
    display: flex;
    position: relative;
}

.song-release{
    width: 120px;
}

.song-release .overlay i{
    font-size: 33px;
}

.song-release .img-song,
.song-release .img-song img,
.song-release .img-song .overlay{
    width: 120px;
    height: 120px;
}

.info-release{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-info .song-info{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    margin-left: 10px;
}

.top-info .artist-info{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.36;
    margin-left: 10px;
    color: #aaaaaa;
}

.top-info .artist-info:hover{
    color: #6e55b4;
}

.bottom-info .num-info{
    -webkit-text-stroke: 2px rgba(102,69,193,.4);
    font-size: 50px;
    font-weight: 900;
    color: transparent;
    position: absolute;
    bottom: -4px;
    margin-left: 5px;
}

.bottom-info .date-info{
    color: #dbdbdb;
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}


/* SONG NEW */
.wrap-new-song{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.new-song{
    width: 320px;
    height: 54px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 7px 10px;
    border-radius: 5px;
}

.new-song:hover{
    background-color: #f8f8f8;
}

.new-song:hover .info-new-song .overlay-new{
    opacity: 1;
}

.new-song:hover .overlay,
.new-song:hover .info-new-song .overlay-new i{
    opacity: 1;
}

.img-new-song{
    width: 40px;
}

.img-new-song .img-song,
.img-new-song .img-song img,
.img-new-song .img-song .overlay{
    width: 40px;
    height: 40px;
}

.info-new-song{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.info-new-song .new-info{
    margin-left: 10px;
}

.info-new-song .new-info .song-info{
    font-size: 14px;
    font-weight: 700;
}

.info-new-song .new-info .artist-info{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #a0a0a0;
    margin-top: 5px;
}

.info-new-song .new-info .artist-info:hover{
    color: #6e55b4;
}

.info-new-song .overlay-new{
    position: absolute;
    right: 0;
    background-color: #f8f8f8;
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    opacity: 0;
}

.info-new-song .overlay-new i{
    font-size: 15px;
    padding-left: 15px;
    opacity: 0;
    color: #32323d;
}

/* LIST ALBUM DIFFERENCE */
.wrap-list-album .album .item-album{
    display: flex;
    flex-direction: column;
}

.wrap-list-album .album .item-album .artist-song{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.36;
    color: #aaaaaa;
}

.wrap-list-album .album .item-album .artist-song:hover{
    color: #6e55b4;
}

/* KIND OF SONG */
.wrap-kind-song{
    text-transform: capitalize;
    margin-bottom: 30px;
}

.title-album{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.list-kind-song{
    display: flex;
    justify-content: space-between;
}

.kind-song{
    display: inline-block;
    position: relative;
    width: 190px;
    height: 107px;
    overflow: hidden;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.8));
}

.kind-song img{
    width: 190px;
    border-radius: 5px;
    transition: all 0.7s;
}

.kind-song .overlay-song{
    position: absolute;
    top: 50%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: #FFF;
    text-align: center;
    transition: all 0.7s;
}

.kind-song:hover .overlay-song{
    top: 40%;
}

.kind-song:hover img{
    transform: scale(1.05);
}

/* MV HOT */
.wrap-mv-hot{
    text-transform: capitalize;
}

.wrap-mv-hot .title-mv{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.box-mv{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mv-hot .item-album{
    width: 100%;
}

.mv-hot .big-mv .img-song,
.mv-hot .big-mv .img-song img,
.mv-hot .big-mv .img-song .overlay{
    width: 608px;
    height: 343px;
}

.mv-hot .img-song .info-song{
    position: absolute;
    bottom: 0;
    color: #FFF;
    padding: 20px 20px 15px 20px;
}

.mv-hot .img-song .info-song .title{
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}
.mv-hot .img-song .info-song .artist{
    font-size: 14px;
    font-weight: 400;
    opacity: .7;
}

.mv-hot:hover .img-song .info-song{
    opacity: 0;
}

.sub-mv{
    height: 308px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sub-mv .item-album{
    margin-bottom: 15px;
}

.sub-mv .img-song,
.sub-mv .img-song img,
.sub-mv  .img-song .overlay{
    width: 190px;
    height: 107px;
}

.sub-mv .item-album .title-song{
    font-size: 14px;
    font-weight: 500;
    color: #32323d;
    display: block;
    margin: 3px 0 0;
}

.sub-mv .item-album .artist-song{
    display: inline-block;
    color: #a0a0a0;
    font-weight: 400;
    font-size: 12px;
}

.sub-mv .item-album .title-song:hover,
.sub-mv .item-album .artist-song:hover{
    color: #6e55b4;
}

/* MIX ALBUM */
.wrap-mix-album{
    margin-top: 30px;   
    margin-bottom: 400px;
}

.title-mix-album{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.list-mix-album{
    display: flex;
    padding: 20px;
    margin-bottom: 11px;
    background-color: #FFF;
    box-shadow: 0 0 20px 0 rgba(190,190,206,.15);
}

.mix-logo{
    width: 170px;
    margin-right: 0;
}

.mix-logo .img-song,
.mix-logo .img-song img,
.mix-logo .img-song .overlay{
    width: 170px;
    height: 170px;
}

.mix-info{
    width: 200px;
    height: 170px;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #eeeeee;
}
.mix-info .mix-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.3;
    color: #32323d;
}

.mix-info .mix-title:hover{
    color: #6e55b4;
}

.mix-info .mix-number{
    color: #949494;
    font-size: 10px;
}

.mix-song .new-song{
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    padding: 0 13px 0 5px;
}

.mix-song{
    display: flex;
}

.mix-song .new-song .song-number{
    height: 30px;
    padding: 6px 0px 0px 10px;
    font-size: 12px;
    font-weight: 600;
}

.mix-song .img-new-song{
    width: 30px;
}

.mix-song .info-new-song .new-info{
    margin: 0;
}

.mix-song .info-new-song .song-info{
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    padding-left: 3px;
}

.mix-song .new-song .img-song,
.mix-song .new-song .img-song .overlay{
    width: 30px;
    height: 30px;
}

.mix-song .new-song .img-song .overlay{
    background-color: #f8f8f8;
}

.mix-song .overlay i{
    color: #6e55b4;
    font-size: 12px;
}